#project_id      = "your-project-id-here"
#mgmt_allow_ips  = ["0.0.0.0/0"]
#public_key_path = "~/.ssh/vmseries-tutorial.pub"


region          = "us-central1"
zone            = "us-central1-a"
vmseries_image  = "https://www.googleapis.com/compute/v1/projects/paloaltonetworksgcp-public/global/images/vmseries-flex-bundle1-1102" // View public images: `gcloud compute images list --project paloaltonetworksgcp-public --no-standard-images --uri`
prefix          = ""


